@model List<ClassIntroduce>


@{
    ViewBag.Title = "ClassIntroduce";

}

<link rel="stylesheet" href="~/css/ClassIntroduce.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

<div class="contentheader">
    <h1>課程介紹管理列表</h1>
</div>

<hr>


    
<div id="divnavlink">
    <ul id="ulnavlink" style="margin-top: 3%; ">
        <li>
            <button class="navButton" onclick="allclass('cardio')">有氧課程</button>
        </li>
        <li>
            <button class="navButton" onclick="allclass('yoga')">瑜珈課程</button>
        </li>
    </ul>
</div>

<div class="mycontain" id="classintroduce">




    <div class="allclass" id="cardio">

        <table class="table">
            <thead>
                <tr>

                    <th scope="col">課程類型</th>
                    <th scope="col">課程名稱</th>
                    <th scope="col">課程開始時間</th>
                    <th scope="col">課程結束日期</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody id="cardiobody">

                @{
                    var cardiocount = 0;
                    foreach (var item in ViewBag.viewModeldata)
                    {
                        if (item.LcId == 1 || item.LcId == 2 || item.LcId == 3)
                        {
                            cardiocount++;
                            var result = DateTime.Compare(@item.lastDate, DateTime.Today);


                            <tr class="trtaken">

                                <td class="cardioselectid" hidden>@item.InId</td>
                                <td>@item.InCategory</td>
                                <td>@item.InTitle</td>
                                <td>@item.firstDate</td>
                                <td class="cardiolastdate">@item.lastDate</td>
                                <td>
                                    <button id="cardioEdit" class="btnEdit btn" type="button" data-target="#cardioEditModal" data-toggle="modal" onclick="cardioget(@item.InId)">編輯</button>

                                </td>
                            </tr>


                        }

                    }

                    <tr hidden>
                        <td id="cardiocount">@cardiocount</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
    <div class="allclass" id="yoga" style="display:none;">


        <table class="table">
            <thead>
                <tr>

                    <th scope="col">課程類型</th>
                    <th scope="col">課程名稱</th>
                    <th scope="col">課程開始時間</th>
                    <th scope="col">課程結束日期</th>
                    <th scope="col">操作</th>

                </tr>
            </thead>
            <tbody id="yogabody">


                @{

                    var yogalistcount = 0;
                    foreach (var item in ViewBag.viewModeldata)
                    {
                        if (item.LcId == 4 || item.LcId == 5 || item.LcId == 6)
                        {
                            yogalistcount++;
                            var result = DateTime.Compare(@item.lastDate, DateTime.Today);

                            <tr class="yogatrtaken">

                                <td class="yogaselectid" hidden>@item.InId</td>

                                <td>@item.InCategory</td>
                                <td>@item.InTitle</td>
                                <td>@item.firstDate</td>
                                <td class="yogalastdate">@item.lastDate</td>

                                <td>
                                    <button id="yogaEdit" class="btnEdit btn" type="button" data-target="#yogaEditModal" data-toggle="modal" onclick="yogaget(@item.InId)">編輯</button>

                                </td>

                            </tr>


                        }

                    }

                    <tr hidden>
                        <td id="yogacount">@yogalistcount</td>
                    </tr>

                }



            </tbody>
        </table>
    </div>
    <div class="modal fade" id="yogaEditModal" tabindex="-1" aria-labelledby="yogaEditModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> 課程介紹-編輯</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="yogaId">

                        <div class="row" style="width:100%;">

                            <div class="col-3">
                                <label for="yogadate">發布日期</label>
                                <input id="yogadate" type="date" disabled>
                            </div>

                            <div class="col-4">

                                <div>
                                    <label for="yogaInCategory">類別</label>

                                    <input type="text" id="yogaInCategory" disabled>
                                </div>
                            </div>

                            <div class="col-4">
                                <label for="yogacId">課程編號</label>

                                <input type="text" id="yogacId" disabled>

                            </div>
                        </div>

                        <div class="row" style="width:100%">
                            <div class="col-1">
                                <label for="yogaTitle">標題</label>

                            </div>
                            <div class="col-12">
                                <input type="text" id="yogaTitle" class="titleinput">
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-2">
                                <label for="yogatextarea">內容</label>

                            </div>

                            <div class="col-12">
                                <div class="contenteditorbar">
                                    <label class="uploadlabel" for="yogaupload" style="margin-right:90%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                        </svg>
                                    </label>
                                    <input type="file" class="form-control-file btn uploadbtn" id="yogaupload" accept=".png, .jpg, .jpeg" style="display:none;" onchange="yogaphoto()" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div style=" width: 100%; ">
                                    <div class="divtextarea">

                                        <img class="imagebox" id="yogaimage">
                                        <textarea id="yogatextarea" rows="11" placeholder="請輸入內容(必填)"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <label for="yogaeId">發布員工</label>
                            </div>
                            <div class="col-6">
                             
                                <select id="yogaeId" class="Employeeselect" name="employee" size="1" disabled>
                                    @foreach (var item in ViewBag.querydata)
                                    {
                                        <option class="EmployeeOption" value="@item.EId">@item.EName-@item.EId</option>
                                    }

                                </select>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn">取消</button>
                    <button class="btn" onclick="yogaput()">確定</button>
                </div>
            </div>
        </div>
    </div>



</div>
  



<div class="modal fade" id="cardioEditModal" tabindex="-1" aria-labelledby="cardioEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> 課程介紹-編輯</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="cardioId">

                    <div class="row" style=" width:100%;">
                        <div class="col-3 ">
                            <div>
                                <label for="cardiodate" style="padding-left:1%;">發布日期</label>
                                <input id="cardiodate" type="date" size="1" disabled>
                            </div>
                        </div>
                        <div class="col-4">

                            <div>
                                <label for="cardioInCategory">類別</label>

                                <input type="text" id="cardioInCategory" disabled>
                            </div>
                        </div>

                        <div class="col-4">
                            <label for="cardiocId">課程編號</label>

                            <input type="text" id="cardiocId" disabled>
                        </div>

                    </div>





                    <div class="row" style="width:100%;">
                        <div class="col-1">
                            <label for="cardioTitle">標題</label>

                        </div>
                        <div class="col-12">
                            <input type="text" id="cardioTitle" class="titleinput" disabled>
                        </div>
                    </div>

                    <div class="row" style="width:100%;">
                        <div class="col-2">
                            <label for="editor2">內容</label>

                        </div>

                        <div class="col-12">
                            <div class="contenteditorbar">
                                <label class="uploadlabel" for="cardioupload" style="margin-right:90%;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                    </svg>
                                </label>
                                <input type="file" class="form-control-file btn uploadbtn" id="cardioupload" accept=".png, .jpg, .jpeg" style="display:none;" onchange="cardiophoto()" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div style=" width: 100%; ">
                                <div class="divtextarea">

                                    <img class="imagebox" id="cardioimage">
                                    <textarea id="cardiotextarea" rows="11" placeholder="請輸入內容(必填)"></textarea>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <label for="cardioeId">發布員工</label>
                        </div>
                        <div class="col-6">
                            <select id="cardioeId" class="Employeeselect" name="employee" size="1" disabled>
                                @foreach (var item in ViewBag.querydata)
                                {
                                    <option class="EmployeeOption" value="@item.EId">@item.EName-@item.EId</option>
                                }

                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn">取消</button>
                <button class="btn" onclick="cardioput()">確定</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    @*小分頁*@
    <script>
        function allclass(classname) {
            var i;
            var x = document.getElementsByClassName("allclass")
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(classname).style.display = "block"
        }

    </script>

    @*圖片上傳*@
    <script>

        let add64String = "";
        var addfile;
        function addphoto() {
            addfile = document.getElementById('addupload').files[0]
            var addreader = new FileReader();
            console.log(addfile)

            addreader.onload = function () {
                add64String = addreader.result;
                console.log('ok')


                var addPhoto = document.getElementById("addimage");
                addPhoto.src = add64String;
                addPhoto.style = "width:30%; height:30%; object-fit:contain; margin-top:2%; border-radius:1%; ";

            }
            addreader.readAsDataURL(addfile);

        }



        let cardio64String = "";
        var cardiofile;
        function cardiophoto() {
            cardiofile = document.getElementById('cardioupload').files[0]
            var cardioreader = new FileReader();
            console.log(cardiofile)

            cardioreader.onload = function () {
                cardio64String = cardioreader.result;
                console.log('ok')


                var cardioPhoto = document.getElementById("cardioimage");
                cardioPhoto.src = cardio64String;
                cardioPhoto.style = "width:30%; height:30%; object-fit:contain; margin-top:2%; border-radius:1%; ";

            }
            cardioreader.readAsDataURL(cardiofile);

        }


        let yoga64String = "";
        var yogafile;
        function yogaphoto() {
            yogafile = document.getElementById('yogaupload').files[0]
            var yogareader = new FileReader();
            console.log(yogareader)

            yogareader.onload = function () {
                yoga64String = yogareader.result;
                console.log('ok')


                var yogaPhoto = document.getElementById("yogaimage");
                yogaPhoto.src = yoga64String;
                yogaPhoto.style = "width:30%; height:30%; object-fit:contain; margin-top:2%; border-radius:1%; ";

            }
            yogareader.readAsDataURL(yogafile);

        }

    </script>



    @*Get*@
    <script>
        function cardioget(e) {
            $.ajax({
                type: "get",
                url: "/api/ClassIntroduces/" + e,
                success: function (data) {
                    $('#cardioTitle').val(data.inTitle)
                    $('#cardiotextarea').val(data.inContent)
                    $('#cardioId').val(data.inId)
                    $('#cardioInCategory').val(data.inCategory)
                    if (data.inPhoto == null) {
                        $('#cardioimage').hide()
                    } else {
                        $('#cardioimage').attr({ src: data.inPhoto, style: "width:30%; height:40%; object-fit:contain; margin-right:95%; margin-top:2%; border-radius:1%; border:none; " })
                    }

                    $('#cardiodate').val(data.inDate.replace("T00:00:00", ""))
                    console.log(data.inDate)
                    $('#cardiocId').val(data.cId)

                    $('#cardioeId').val(data.eId)

                }
            })
        }

        function yogaget(e) {
            $.ajax({
                type: "get",
                url: "/api/ClassIntroduces/" + e,
                success: function (data) {
                    $('#yogaTitle').val(data.inTitle)
                    $('#yogatextarea').val(data.inContent)
                    $('#yogaId').val(data.inId)
                    $('#yogaInCategory').val(data.inCategory)

                    if (data.inPhoto == null) {
                        $('#yogaimage').hide()
                    } else {
                        $('#yogaimage').attr({ src: data.inPhoto, style: "width:30%; height:40%; object-fit:contain; margin-right:95%; margin-top:2%; border-radius:1%; border:none; " })
                    }

                    $('#yogadate').val(data.inDate.replace("T00:00:00", ""))
                    console.log(data.inDate)

                    $('#yogaeId').val(data.eId)
                    $('#yogacId').val(data.cId)
                }
            })
        }
    </script>


    @*Put*@
    <script>
        function cardioput() {

            var cardiophotodata;
            if (cardio64String == "") {
                cardiophotodata = $("#cardioimage").attr('src');
            } else {
                cardiophotodata = cardio64String;
            }


            var myPostdate = new Date($("#cardiodate").val())


            var cardioputdata = {
                inId: $('#cardioId').val(),
                inDate: myPostdate,
                inTitle: $('#cardioTitle').val(),
                inContent: $('#cardiotextarea').val(),
                inCategory: $('#cardioInCategory').val(),
                inPhoto: cardiophotodata,
                eId: $('#cardioeId').val(),
                eIdNavigation: null,
                cIdNavigation: null,
                cId: $('#cardiocId').val(),

            }

            var cardioputId = $('#cardioId').val();
            $.ajax({
                type: "put",
                url: "/api/ClassIntroduces/" + cardioputId,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(cardioputdata),
                success: function () {
                    window.location = "/Manage/ClassIntroduce"
                },
                error: function () {
                    console.log(cardioputdata)
                }
            })
        }

        function yogaput() {

            var yogaphotodata;
            if (yoga64String == "") {
                yogaphotodata = $("#yogaimage").attr('src');
            } else {
                yogaphotodata = yoga64String;
            }

           
            var yogadate = new Date($("#yogadate").val())


            var yogaputdata = {
                inId: $('#yogaId').val(),
                inDate: yogadate,
                inTitle: $('#yogaTitle').val(),
                inContent: $('#yogatextarea').val(),
                inCategory: $('#yogaInCategory').val(),
                inPhoto: yogaphotodata,
                eId: $('#yogaeId').val(),
                eIdNavigation: null,
                cIdNavigation: null,
                cId: $('#yogacId').val(),

            }

            var yogaputId = $('#yogaId').val();
            $.ajax({
                type: "put",
                url: "/api/ClassIntroduces/" + yogaputId,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(yogaputdata),
                success: function () {
                    window.location = "/Manage/ClassIntroduce"
                },
                error: function () {
                    console.log(yogaputdata)
                }
            })
        }
    </script>

    @*Delete*@
    <script>

        window.onload = autodelete;

        var deleteid = document.getElementsByClassName('cardioselectid');
        var cardiolast = document.getElementsByClassName('cardiolastdate');

        function autodelete() {
            console.log('a')
            for (var i = 0; i < deleteid.length; i++) {
                var cardiolastdate = new Date(cardiolast[i].innerHTML.replace(" 上午 12:00:00", ""));
                var deleteiddata = parseInt(deleteid[i].innerHTML)
                console.log(deleteiddata)
                console.log(cardiolastdate)
                if (cardiolastdate < new Date()) {
                    console.log(cardiolastdate < new Date());

                    $.ajax({
                        type: "Delete",
                        url: "/api/ClassIntroduces/" + deleteiddata,
                        success: function () {
                            console.log('OK')
                            window.location = "/Manage/ClassIntroduce";
                        },
                        error: function () {
                            console.log(deleteiddata);
                        }

                    })
                }

            }



        }
    </script>
}

