@model MusFit.ViewModels.EditPasswordViewModel
@{
    ViewData["Title"] = "修改密碼";
    var messageOld = (string)ViewData["errorOld"] ?? string.Empty;
    var messageNew = (string)ViewData["errorNew"] ?? string.Empty;
    var messageDouble = (string)ViewData["errorDouble"] ?? string.Empty;
    var message = (string)ViewData["error"] ?? string.Empty;
    var messageOk = (string)ViewData["success"] ?? string.Empty;
}


<link rel="stylesheet" href="~/css/CoachPasswordEdit.css">


<div class="container-fluid">
    <form method="post" action="@Url.Action("EditPassword","Manage")">
        <div class="change_password container-fluid">
            <div class="row mt-3 mb-4 justify-content-center">
                <h4>修改密碼</h4>
            </div>
            <div class="row ">
                <div class="col-1"></div>
                <div class="col-8 ">

                    <div class="form-group row justify-content-center">
                        <label class="col-sm-4 col-form-label" asp-for="OldPassword">舊密碼</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="OldPassword"
                                   name="OldPassword" type="password" />
                            <span class="field-validation-valid text-danger mt-2" data-valmsg-for="OldPassword"
                                  data-valmsg-replace="true" asp-validation-for="OldPassword"></span>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-4 col-form-label" asp-for="NewPassword">新密碼</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="NewPassword"
                                   name="NewPassword" type="password" />
                             <span class="field-validation-valid text-danger mt-2" data-valmsg-for="NewPassword"
                                  data-valmsg-replace="true" asp-validation-for="NewPassword"></span>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-sm-4 col-form-label" asp-for="CheckPassword">確認密碼</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="CheckPassword"
                                   name="CheckPassword" type="password" />
                             <span class="field-validation-valid text-danger mt-2" data-valmsg-for="CheckPassword"
                                  data-valmsg-replace="true" asp-validation-for="CheckPassword"></span>
                            @{
                                if (message != "" || messageOld != "" || messageNew != "")
                                {
                                    <p id="error" style="color: red"><b>@ViewData["error"]</b></p>
                                }
                                if (messageOld != "")
                                {
                                    <p id="error" style="color: red"><b>@ViewData["errorOld"]</b></p>
                                }
                                if (messageNew != "")
                                {
                                    <p id="error" style="color: red"><b>@ViewData["errorNew"]</b></p>
                                }
                                if (messageDouble != "")
                                {
                                    <p id="error" style="color: red"><b>@ViewData["errorDouble"]</b></p>
                                }
                                if (messageOk != "")
                                {
                                    <p id="error" style="color: red"><b>@ViewData["success"]</b></p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 btnEdit">
                <div class="col-2"></div>
                <div class="col">
                    <button type="submit" class="btn btnCheck mb-5" style="width: 100px">儲存</button>
                </div>
            </div>
        </div>
    </form>
</div>
