@model MusFit.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "新增員工";
    var message = (string)ViewData["error"] ?? string.Empty;
}

<link rel="stylesheet" href="~/css/EmployeeAdd.css">

<main class="employee-edit-content justify-content-center">
    <div class="container-fluid justify-content-center">
        <div class="d-flex pt-4 pl-4">
            <h1>新增員工</h1>
        </div>

        <form class="employee-edit-form justify-content-center" method="post" action="@Url.Action("EmployeeAdd","Manage")" enctype="multipart/form-data">
            <div class="card mb-6">
                <div class="card-body text-center">
                    <img src="" class="img-fluid rounded-circle" id="myPhoto" width="200" height="200">
                    <div class="form-group photoFile">
                        <span>請選擇</span>
                        <input type="file" asp-for="EPhoto" id="EPhoto" accept=".png, .jpg, .jpeg" onchange='imgUploadCheck(this)' />
                    </div>
                </div>
                <hr class="my-0" />

                <div class="card-body">
                    <div class="row employee-edit-form  form-inline" style="width:90%;"
                          name="employee-edit-form" method="get" action="">
                        <div class="col-6 employee-edit-form-left" style="text-align:left;">
                            <div class="from-group mb-4">
                                <p id="error" style="color:red;" hidden>員工已存在!</p>
                                <label asp-for="EIdentityNumber">身分證</label>
                                <input asp-for="EIdentityNumber" class="form-control" type="text"
                                       onchange="GetEmployeeData()">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EIdentityNumber"
                                        data-valmsg-replace="true" asp-validation-for="EIdentityNumber"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EAccount">帳號</label>
                                <input asp-for="EAccount" class="form-control" type="text">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EAccount"
                                        data-valmsg-replace="true" asp-validation-for="EAccount"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EPassword">密碼</label>
                                <input asp-for="EPassword" class="form-control" type="text"
                                        value="預設為生日" readonly>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EName">員工姓名 </label>
                                <input asp-for="EName" class="form-control" type="text">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EName"
                                        data-valmsg-replace="true" asp-validation-for="EName"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EEngName">員工英文名 </label>
                                <input asp-for="EEngName" class="form-control" type="text">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EEngName"
                                        data-valmsg-replace="true" asp-validation-for="EEngName"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EGender">性別</label>
                                <label class="form-check-label" id="EGender" style="width:50px;">
                                    <input asp-for="EGender" class="form-check-input" type="radio"
                                            value="false">女
                                </label>

                                <label class="form-check-label" id="EGender" style="width:50px;margin-left:30px;">
                                    <input asp-for="EGender" class="form-check-input" type="radio"
                                            value="true">男
                                </label>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EGender"
                                        data-valmsg-replace="true" asp-validation-for="EGender"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EBirth" class="birthday" for="employeeBirth">生日</label>
                                <input asp-for="EBirth" class="form-control" style="width:253px;" type="date">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EBirth"
                                        data-valmsg-replace="true" asp-validation-for="EBirth"></span>
                            </div>
                            <div class="from-group mb-4">
                                <label asp-for="EPhone" for="employeePhone">手機號碼</label>
                                <input asp-for="EPhone" class="form-control" type="tel">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EPhone"
                                        data-valmsg-replace="true" asp-validation-for="EPhone"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EMail" for="employeeEmail">電子郵件</label>
                                <input asp-for="EMail" class="form-control" type="email">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EMail"
                                        data-valmsg-replace="true" asp-validation-for="EMail"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EAddress" for="employeeGender">地址</label>
                                <input asp-for="EAddress" class="form-control" type="text">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EAddress"
                                        data-valmsg-replace="true" asp-validation-for="EAddress"></span>
                            </div>
                            <div class="mb-5"></div>
                           
                        </div>

                        <div class="col-6 employee-edit-form-right" style="text-align:left;">

                            <div class="from-group mb-4">
                                <label asp-for="EIsCoach">職位</label>
                                <label class="form-check-label" id="EGender">
                                    <input asp-for="EIsCoach" class="form-check-input" type="radio"
                                            value="false">行政人員
                                </label>

                                <label class="form-check-label" id="EGender">
                                    <input asp-for="EIsCoach" class="form-check-input" type="radio"
                                            value="true">教練
                                </label>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EIsCoach"
                                        data-valmsg-replace="true" asp-validation-for="EIsCoach"></span>
                            </div>

                            <div class="row from-group mb-4" style="text-align:left;margin:0px;">
                                <div class="col-6">
                                    <label >課程</label>
                                </div>
                                <div class="col-6">
                                    @using (Html.BeginForm("EEdit", "Manage"))
                                    {
                                        foreach (var item in Model.AvailableLession)
                                        {
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedLession" value="@item.Value"
                                                   @if(Model.SelectedLession.Contains(item.Value))
                                                   {
                                            <text> checked </text>
                                            }/> @item.Text
                                                </label>
                                            </div>
                                        }

                                        
                                    }

                                    @{
                                        if (message != "")
                                        {
                                            <p id="error" style="color: red"><b>@ViewData["error"]</b></p>

                                        }
                                    }
                                   

                                </div>
                                
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EEnrollDate" for="employeeEnroll">入職日期</label>
                                <input asp-for="EEnrollDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width:253px;">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EEnrollDate"
                                        data-valmsg-replace="true" asp-validation-for="EEnrollDate"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EResignDate" for="employeeResign">離職日期</label>
                                <input asp-for="EResignDate" class="form-control" type="date" style="width:253px;">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EResignDate"
                                        data-valmsg-replace="true" asp-validation-for="EResignDate"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EContactor" for="employeeContactor">緊急聯絡人</label>
                                <input asp-for="EContactor" class="form-control" type="text">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EContactor"
									data-valmsg-replace="true" asp-validation-for="EContactor"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EContactorPhone" for="employeeContactorPhone">緊急連絡人電話</label>
                                <input asp-for="EContactorPhone" class="form-control" type="tel">
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EContactorPhone"
                                        data-valmsg-replace="true" asp-validation-for="EContactorPhone"></span>
                            </div>

                            <div class="from-group mb-4">
                                <label asp-for="EExplain" class="label-style" for="employeeDescription">風格描述</label>
                                <textarea asp-for="EExplain" class="form-control" rows="5"
                                            cols="22"></textarea>
                                <span class="field-validation-valid text-danger mt-2" data-valmsg-for="EExplain"
                                        data-valmsg-replace="true" asp-validation-for="EExplain"></span>
                            </div>

                            <div class="col-6 from-group btn-edit">
                                <button id="btnSave" type="submit" name="save">儲存</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

@section Scripts{
	<script>
        function GetEmployeeData() {
            //宣告一個json格式的viewmodel傳過去GetStudentData
            var viewModel = {
                "EIdentityNumber": $('input[id="EIdentityNumber"]').val()
            }
            $.ajax({
                type: "post",
                url: "/Manage/GetEmployeeData",
                data: viewModel,
                datatype: "json",
                //cache: false, //不會緩存，post 本身就不會緩存，get 會緩存(會顯示在Url上)才需要設定
                success: function (data) {
                    var date = new Date();
                    if (data != "") {
                        var jsonData = JSON.parse(data);  //將json格式轉回物件使用
                        $('#error').removeAttr('hidden');
                        $('input[id="EName"]').val('');
                        $('input[id="EBirth"]').val('');
                        $('input[id="EPhone"]').val('');
                        $('input[id="EMail"]').val('');
                        $('input[id="EAddress"]').val('');
                        $('input[id="EAccount"]').val('');
                        $('input[id="EContactor"]').val('');
                        $('input[id="EContactPhone"]').val('');
                        $("input[name=EGender][value='false']").prop('checked', false);
                        $("input[name=EGender][value='true']").prop('checked', false);
                        $('input[id="EEnrollDate"]').val('');
                        
                    }else{
                        $('#error').attr("hidden", true);
                        $('input[id="EEnrollDate"]').val(date.toISOString().split('T')[0]);

                    }
                }
            });
        }




		
		function imgUploadCheck() {
			//當檔案改變後，做一些事
			readURL(this);   // this代表<input id="imgInp">
		};

		var base64String = "";
		var file;
		function readURL(input) {
			//因為單選的關係，所以有檔案一定是在第0個
			file = document.getElementById("EPhoto").files[0];

			//預覽
			var reader = new FileReader();
			reader.onload = function (e) {
				base64String = e.target.result;//目標結果存入字串

				var addPhoto = document.getElementById("myPhoto");
				addPhoto.src = base64String;

			}
			//給URL
			reader.readAsDataURL(file);
		}



	</script>
}




