@model List<KnowledgeColumn>
<link rel="stylesheet" href="~/css/KnowledgeColumn.css">
<script src="https://cdn.ckeditor.com/4.20.1/standard-all/ckeditor.js"></script>

<div class="knowledgecontentheader">
    <h1>知識專欄列表</h1>
</div>

<hr>

<div>
    <button class="btn" id="addbtn" type="button" data-target="#addModal" data-toggle="modal">
        <span>新增文章</span>
    </button>
</div>


<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> 知識專欄-新增</h5>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row" style="width:95%; margin-left:1%;">
                        <div class="col-2">
                            <label for="">發布日期</label>
                            <input type="date" name="kDate" class="postdate" id="addPostDate" disabled />
                        </div>
                    </div>

                    <div class="row" style="width:95%; margin-left:1%;">
                        <div class="col-1">
                            <label for="addModalTitle" id="addtitlelabel" class="titlelabel">
                                標題
                            </label>
                        </div>
                        <div class="col-12">
                            <input type="text" id="addModalTitle" name="nTitle" class="titleinput" placeholder="請輸入標題(必填)" maxlength="20">
                        </div>
                    </div>
                    <div class="row" style="width:95%; margin-left:2%;">
                        <div class="col-1">
                            <label for="editor1">內容</label>
                        </div>

                        <div class="col-12">
                            <div class="contenteditorbar">
                                <div style="margin-right:85%;">
                                    <label class="uploadlabel" for="adduploadfile">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                        </svg>
                                    </label>
                                    <input type="file" class="form-control-file btn " id="adduploadfile" name="kPhoto" accept=".png, .jpg, .jpeg" onchange="addphoto()" style="display:none" multiple>

                                    <a class="emojiselectbar" onclick="addemojibox()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                                        </svg>
                                    </a>



                                </div>


                            </div>

                            <div id="addemoji" style="display: none; margin-left:0px; " data-popper-placement="right">
                                <a class="addemojicancel" onclick="addemojicancel()" style="margin-left:90%;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </a>
                                <ul id="addemojiList" style="display:flex; flex-wrap: wrap; list-style:none; overflow:auto; width:200px; height:300px;">
                                </ul>
                            </div>
                        </div>


                        <div class="col-12">
                            <div style=" width: 100%; ">

                                <div class="divtextarea">

                                    <textarea name="kContent" id="addcontent" rows="11" placeholder="請輸入內容(必填)" maxlength="500"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width:95%; margin-left:2%; margin-top:1%;">
                        <div class="col-4">
                            <input type="text" class="author" placeholder="請輸入作者名(必填)">
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-target="#draftModal" data-toggle="modal">取消</button>
                <button class="btn" onclick="addform1()">確定</button>
            </div>
        </div>
    </div>
</div>

@* draft modal*@
<div class="modal fade" id="draftModal" tabindex="-1" aria-labelledby="draftModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" style="color:#906D87; margin-left:40%; margin-top:5%;">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                </svg>
                <br>
                <br>
                <h5 class="deleteword">要儲存為草稿嗎?</h5>
                <p class="deletedescribe">可於草稿頁面編輯</p>

                <div class="Modaldeletebtndiv">
                    <button class="Modaldeletebtn btn" onclick="back()">取消</button>
                    
                    <button class="Modaldeletebtn btn" onclick="location.href='/Manage/KnowledgeDraft'">確定</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="mycontain">

    <br>
    <div class=" mycontainer">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox">
                    </th>
                    <th>專欄標題</th>
                    <th> 發布時間</th>
                    <th> 操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.KColumnId
                            </td>
                            <td>@item.KTitle</td>
                            <td>@item.KDate</td>
                            <td>
                                <button class="btn" type="button" data-target="#editModal" data-toggle="modal" onclick="getbutton(@item.KColumnId)">編輯</button>
                                <button class="btn" type="button" data-target="#deleteModal" data-toggle="modal" onclick="deletebtn(@item.KColumnId)">刪除</button>
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

    @*
    edit modal
    *@
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> 知識專欄-編輯</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <input type="hidden" class="ModalID">
                        </div>
                        <div class="row" style="width:95%; margin-left:1%;">
                            <div class="col-2">
                                <label for="">發布日期</label>
                                <input type="date" name="nPostdate" class="postdate" id="editPostDate" disabled />
                            </div>
                        </div>

                        <div class="row" style="width:95%; margin-left:1%;">
                            <div class="col-1">
                                <label for="editModalTitle" id="editTitleLabel" class="titlelabel">
                                    標題
                                </label>
                            </div>
                            <div class="col-12">
                                <input type="text" id="editModalTitle" name="nTitle" class="titleinput" placeholder="請輸入標題(必填)" maxlength="20">
                            </div>
                        </div>
                        <div class="row" style="width:95%; margin-left:2%;">
                            <div class="col-1">

                                <label for="editor1">內容</label>

                            </div>

                            <div class="col-12">
                                <div class="contenteditorbar">
                                    <label class="uploadlabel" for="edituploadfile" style="margin-right:95%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z" />
                                        </svg>
                                    </label>
                                    <input type="file" class="form-control-file btn " id="edituploadfile" name="nPhoto" accept=".png, .jpg, .jpeg" style="display:none" onchange="editphoto()">
                                </div>
                            </div>


                            <div class="col-12">
                                <div style=" width: 100%; ">

                                    <div class="divtextarea">
                                        <textarea name="kContent" id="edittextarea" rows="11" placeholder="請輸入內容(必填)" maxlength="500"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="width:95%; margin-top:1%;">
                            <div class="col-4">
                                <input type="text" class="author" placeholder="請輸入作者名(必填)">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" onclick="back()">取消</button>
                    <button class="btn" onclick="editform()">確定</button>
                </div>
            </div>
        </div>
    </div>

    @* delete modal*@
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> 知識專欄-刪除</h5>
                </div>

                <div class="modal-body">
                    <h5>確定要刪除嗎?</h5>
                    <input type="hidden" class="deletebtn">
                </div>
                <div class="modal-footer">
                    <button class="btn" onclick="back()">取消</button>
                    <button class="btn" onclick="deleteokbtn()">確定</button>
                </div>
            </div>
        </div>
    </div>
</div>


@*get*@
<script>
    var editid;
    function getbutton(id) {

        editid = id;
        $.ajax({
            typp: "Get",
            url: "/api/KnowledgeColumns/" + id,
            success: function (data) {
                $('#editModal .ModalID').val(data.kColumnId)
                $("#editModal .postdate").val(data.kDate.replace("T00:00:00", ""))
                $('#editModal .titleinput').val(data.kTitle)
                $('#editModal #edittextarea').val(data.kContent)
                $('#editModal  .author').val(data.kAuthor)

                if (data.kPhoto1 != null && $('#editphoto1').length == 0) {
                    var editphotodiv1 = $('<div>').attr({ class: "editimagediv", style: "width:200px; height:200px; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px;display:inline-block", id: "editphoto1" });
                    var editphoto1 = $('<img>').attr({ src: data.kPhoto1, onclick: "editcancelbutton()", class: "editimagebox", style: "width:100%; height:100%; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px;", id: "editimage1" });
                    $(editphoto1).appendTo(editphotodiv1)
                    $(editphotodiv1).prependTo('#editModal .divtextarea');


                } else {
                    //console.log($('#editphoto1').length);

                }


                if (data.kPhoto2 != null && $('#editphoto2').length == 0) {
                    var editphotodiv2 = $('<div>').attr({ class: "editimagediv", style: "width:200px; height:200px; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px;display:inline-block", id: "editphoto2" });
                    var editphoto2 = $('<img>').attr({ src: data.kPhoto2, onclick: "editcancelbutton1()", class: "editimagebox", style: "width:100%; height:100%; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px;", id: "editimage2" });
                    $(editphoto2).appendTo(editphotodiv2)
                    $(editphotodiv2).prependTo('#editModal .divtextarea');
                } else {
                    //console.log('no')
                }

            },
            error: function (data) {
                console.log(data)
            }

        })
    }

    var editclick1 = 0;
    function editcancelbutton1() {
        editclick1++;


        if (editclick1 % 2 != 0) {

            document.getElementById('editimage2').style = "width:100%; height:100%; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px; border-width:5px; border-color:#705CBB; border-style:solid;"
            var editdelete2 = $('<button>').attr({ id: "editdeleteicon2", style: "border-width:0.5px; background-color:#705CBB; color:#ffff; border-color:#705CBB; border-radius:25% 25% 25% 25% ; position: absolute;", onclick: "editdeletephoto2()" })
            $(editdelete2.text('刪除')).prependTo('#editphoto2')


        } else {

            document.getElementById('editimage2').style = "width:100%; height:100%; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px;"
            document.getElementById('editdeleteicon2').remove();


        }

    }


    var editclick = 0;
    function editcancelbutton() {
        editclick++;


        if (editclick % 2 != 0) {

            document.getElementById('editimage1').style = "width:100%; height:100%; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px; border-width:5px; border-color:#705CBB; border-style:solid;"
            var editdelete1 = $('<button>').attr({ id: "editdeleteicon1", style: "border-width:0.5px; background-color:#705CBB; color:#ffff; border-color:#705CBB; border-radius:25% 25% 25% 25% ; position: absolute;", onclick: "editdeletephoto1()" })
            $(editdelete1.text('刪除')).prependTo('#editphoto1')


        } else {

            document.getElementById('editimage1').style = "width:100%; height:100%; object-fit:contain; margin-left:2%; margin-top:2%; border-radius:5px;"
            document.getElementById('editdeleteicon1').remove();


        }

    }

    function editdeletephoto1() {
        document.getElementById('editimage1').remove();
        document.getElementById('editdeleteicon1').remove();
        document.getElementById('editphoto1').remove();
        console.log(document.getElementById('editphoto1') == null)
    }

    function editdeletephoto2() {
        document.getElementById('editimage2').remove();
        document.getElementById('editdeleteicon2').remove();
        document.getElementById('editphoto2').remove();
    }

</script>

@*新增圖片上傳*@
<script>

    var photolink
    var reader = new FileReader();
    var reader1 = new FileReader();
    var file;
    var i = 0;
    var b = 0;
    var numFiles = 0;
    var k = 0;
    var photodata;
    var photodata2;
    var e = 0;
    function readfile(file) {
        k++;
        reader.readAsDataURL(file)

    }

    function readfile1(file) {
        e++;

        reader1.readAsDataURL(file)



    }



    reader.onload = function (e) {
        i++;

        var imagediv = $('<div>').attr({ class: "addimagediv", style: "width:200px; height:200px; object-fit:contain;  margin-top:2%; border-radius:5px;display:inline-block;position:relative;", id: "addphoto1" });
        var image = $('<img>').attr({ src: e.target.result, onclick: "cancelbutton()", class: "addimagebox", style: "width:100%; height:100%; object-fit:contain; margin-top:2%; border-radius:5px; ", id: "image1" });

        $(image).appendTo(imagediv)
        $(imagediv).prependTo('#addModal .divtextarea');
        // if there are more files run the file reader again

        if (i < numFiles) {
            // pass `File` at index `i` within `FileList` to `readFile`
            readfile(file.item(i));
        }

        photodata = e.target.result;


    }

    reader1.onload = function (e) {
        b++;

        var imagediv = $('<div>').attr({ class: "addimagediv", style: "width:200px; height:200px; object-fit:contain;  margin-top:2%; border-radius:5px;display:inline-block;", id: "addphoto2" });
        var image = $('<img>').attr({ src: e.target.result, onclick: "cancelbutton1()", class: "addimagebox", style: "width:100%; height:100%; object-fit:contain; margin-right:95%; margin-top:2%; border-radius:5px;", id: "image2" });

        $(image).appendTo(imagediv)
        $(imagediv).prependTo('#addModal .divtextarea');
        // if there are more files run the file reader again

        if (b < numFiles) {
            // pass `File` at index `i` within `FileList` to `readFile`
            readfile1(file.item(b));
        }

        photodata2 = e.target.result;
        console.log(photodata2)
    }


    function addphoto() {
        console.log('a')
        var apple = document.getElementById('addphoto1')
        var cat = document.getElementById('addphoto2')
        i = 0;
        b = 0;
        file = document.getElementById('adduploadfile').files
        // get the number of files
        numFiles = file.length;
        // pass first `File` to `readFile`

        if (apple == null) {
            readfile(file.item(i));
        } else if (cat == null) {
            readfile1(file.item(b));
        } else {
            alert('圖片已達上限')
        }
    }

    var clickcount = 0;
    function cancelbutton() {
        clickcount++;


        if (clickcount % 2 != 0) {

            document.getElementById('image1').style = "width:100%; height:100%; object-fit:contain;  margin-top:2%; border-radius:5px; border-width:5px; border-style:solid; border-color:#705CBB;"

            var deletebtn1 = $('<button>').attr({ id: "deleteicon1", style: "border-width:0.5px; background-color:#705CBB; color:#ffff; border-color:#705CBB; border-radius:25% 25% 25% 25% ; position: absolute;", onclick: "deletephoto1()" })
            $(deletebtn1.text('刪除')).prependTo('#addphoto1')

        } else {


            document.getElementById('image1').style = "width:100%; height:100%; object-fit:contain;  margin-top:2%; border-radius:5px;"
            document.getElementById('deleteicon1').remove();
        }

    }

    var clickcount1 = 0;
    function cancelbutton1() {
        clickcount1++;


        if (clickcount1 % 2 != 0) {

            document.getElementById('image2').style = "width:100%; height:100%; object-fit:contain;  margin-top:2%; border-radius:5px; border-width:5px; border-color:#705CBB; border-style:solid;"
            var deletebtn2 = $('<button>').attr({ id: "deleteicon2", style: "border-width:0.5px; background-color:#705CBB; color:#ffff; border-color:#705CBB; border-radius:25% 25% 25% 25% ; position: absolute;", onclick: "deletephoto2()" })
            $(deletebtn2.text('刪除')).prependTo('#addphoto2')


        } else {

            document.getElementById('image2').style = "width:100%; height:100%; object-fit:contain;  margin-top:2%; border-radius:5px;"
            document.getElementById('deleteicon2').remove();


        }

    }


    function deletephoto1() {
        document.getElementById('image1').remove();
        document.getElementById('deleteicon1').remove();
        document.getElementById('addphoto1').remove();
    }

    function deletephoto2() {
        document.getElementById('image2').remove();
        document.getElementById('deleteicon2').remove();
        document.getElementById('addphoto2').remove();
    }
</script>

@*編輯圖片上傳*@
<script>
    var a;
    var c;
    var filecounts = 0;
    var putreader = new FileReader();
    var putreader1 = new FileReader();
    var g = 0;
    var t = 0;
    var putfile;
    var putphoto1;
    var putphoto2;

    function editphoto() {
        var bee = document.getElementById('editphoto1');
        var dog = document.getElementById('editphoto2');
        a = 0;
        c = 0;
        putfile = document.getElementById('edituploadfile').files
        // get the number of files
        filecounts = putfile.length;
        // pass first `File` to `readFile`


        if (bee == null) {
            putreadfile(putfile.item(a));
        } else if (dog == null) {
            putreadfile1(putfile.item(c));
        } else {
            alert('圖片已達上限')
        }
    }

    function putreadfile(file) {
        g++;
        putreader.readAsDataURL(file)

    }

    function putreadfile1(file) {
        t++;

        putreader1.readAsDataURL(file)

    }


    putreader.onload = function (e) {
        a++;

        var imagediv = $('<div>').attr({ class: "editimagediv", style: "width:200px; height:200px; object-fit:contain;  margin-top:2%; border-radius:5px;display:inline-block", id: "editphoto1" });
        var image = $('<img>').attr({ src: e.target.result, onclick: "editcancelbutton()", class: "editimagebox", style: "margin-right:95%;width:100%; height:100%; object-fit:contain;  margin-top:2%; border-radius:5px;", id: "editimage1" });

        $(image).appendTo(imagediv)
        $(imagediv).prependTo('#editModal .divtextarea');
        // if there are more files run the file reader again

        if (a < filecounts) {
            // pass `File` at index `i` within `FileList` to `readFile`
            putreadfile(putfile.item(a));
        }

        console.log(e.target.result)
        putphoto1 = e.target.result;
    }

    putreader1.onload = function (e) {
        c++;

        var imagediv = $('<div>').attr({ class: "editimagediv", style: "width:200px; height:200px; object-fit:contain; margin-top:2%; border-radius:5px;display:inline-block", id: "editphoto2" });
        var image = $('<img>').attr({ src: e.target.result, onclick: "editcancelbutton1()", class: "editimagebox", style: "margin-right:95%;width:100%; height:100%; object-fit:contain;  margin-top:2%; border-radius:5px;", id: "editimage2" });

        $(image).appendTo(imagediv)
        $(imagediv).prependTo('#editModal .divtextarea');
        // if there are more files run the file reader again

        if (c < filecounts) {
            // pass `File` at index `i` within `FileList` to `readFile`
            putreadfile1(putfile.item(c));
        }
        console.log(e.target.result)
        putphoto2 = e.target.result;


    }


</script>

@*POST*@
<script>

    document.getElementById('addPostDate').valueAsDate = new Date();
    function addform1() {

        var date = new Date($('#addModal .postdate').val())


        var addData = {
            kTitle: $('#addModal .titleinput').val(),
            kContent: $('#addModal #addcontent').val(),
            kDate: date,
            kAuthor: $('#addModal .author').val(),
            kPhoto1: photodata,
            kPhoto2: photodata2,


        };


        if ($('#addModal .titleinput').val() != "") {
            if ($('#addModal #addcontent').val() != "") {
                if ($('#addModal .author').val()) {
                    $.ajax({
                        type: "Post",
                        url: "/api/KnowledgeColumns",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(addData),
                        success: function () {

                            window.location = "/Manage/KnowledgeColumn"
                        },

                        error: function (xhr, textStatus, errorThrown) {
                            console.log('Error in Operation')
                            console.log(addData.kPhoto1)

                        }
                    });
                } else {
                    alert('作者不得為空')
                }
            } else { alert('內容不得為空') }
        } else {
            alert('標題不得為空')
        }





    }
</script>

@*PUT*@
<script>
    function editform() {

        var putphotodata1;
        if ($('#editphoto1').length != 0) {
            console.log($('#editphoto1').length)
            if (putphoto1 == null) {
                putphotodata1 = $('#editimage1').attr('src')
                alert($('#editimage1').attr('src'))
            } else {
                putphotodata1 = putphoto1;
                alert(putphoto1)
            }
        } else {
            putphotodata1 = null;
        }

        var putphotodata2;
        if ($('#editphoto2').length != 0) {
            console.log($('#editphoto2').length)

            if (putphoto2 == null) {
                putphotodata2 = $('#editimage2').attr('src')
            } else {
                putphotodata2 = putphoto2;
            }
        } else {
            putphotodata2 = null;
        }

        var editdata = {
            kColumnId: parseInt($('#editModal .ModalID').val()),
            kTitle: $('#editModalTitle').val(),
            kContent: $('#edittextarea').val(),
            kDate: new Date($('#editPostDate').val()),
            kAuthor: $('#editModal  .author').val(),
            kPhoto1: putphotodata1,
            kPhoto2: putphotodata2,

        }

        $.ajax({
            type: "Put",
            url: "/api/KnowledgeColumns/" + editid,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(editdata),
            success: function (e) {
                window.location = "/Manage/KnowledgeColumn"
            },
            error: function (e) {
                console.log("error");
                console.log(editdata);

            }




        })


    }

</script>

<script>
    function back() {
        window.location = "/Manage/KnowledgeColumn"
    }
</script>

@*delete get*@
<script>
    function deletebtn(deleteid) {
        $.ajax({
            type: "get",
            url: "/api/KnowledgeColumns/" + deleteid,
            success: function (data) {
                $('#deleteModal .deletebtn').val(data.kColumnId)
                console.log($('#deleteModal .deletebtn').val())
            },
            error: function (e) {
                console.log('error')
            }
        })
    }
</script>

@*Delete*@
<script>


    function deleteokbtn() {


        $.ajax({
            type: "delete",
            url: "/api/KnowledgeColumns/" + $('#deleteModal .deletebtn').val(),
            success: function (e) {
                window.location = "/Manage/KnowledgeColumn"
            },
            error: function (e) {
                console.log('error')
            }
        })
    }

</script>

@section Scripts{
    <script>
        function addemojibox() {
            console.log(100)
            $('#addemoji').attr({ style: "display: block; margin-left: 10%; position: absolute;  z-index:6; border:solid; background-color:#ffff; border-radius:5px; border-color:#B4B2B2; border-width:0.5px; box-shadow: 0 0 9px rgba(0, 0, 0, 0.35); " })

        }

        function addemojicancel() {
            $('#addemoji').attr({ style: "display: none; margin-left:0px; " })

        }

    </script>
}

    @*fetch*@
    <script>
        var addtextarea = document.getElementById('addcontent');
        var emojiList = document.getElementById('addemojiList');
        fetch('https://emoji-api.com/emojis?access_key=884f4afa230b3e2e7325a5c6b8951d53f5b28d5e')
            .then(response => response.json())

            .then(data => loadEmoji(data))

        function loadEmoji(data) {
           
            data.forEach(emoji => {
                var li = document.createElement('li');
                li.setAttribute('emoji-name', emoji.slug);
                li.textContent = emoji.character;
                li.addEventListener('click', event => {
                    addtextarea.value += li.textContent;
                });
                emojiList.appendChild(li);
            })

        }


    </script>